ul.-bc-w
  each color in Docs.COLOR_SCHEME
    li(class=[color.bg_class, (color.is_dark) ? 'h-darkbg' : ''])= color.name
  each color in Docs.TRANS_SCHEME
    li(class=[color.bg_class, (color.is_dark) ? 'h-darkbg' : ''])= color.name
pre
  each color in Docs.COLOR_SCHEME
    | &lt;li class="#[u= color.bg_class]"&gt;#{color.name}&lt;/li&gt;&#x000a;
  each color in Docs.TRANS_SCHEME
    | &lt;li class="#[u= color.bg_class]"&gt;#{color.name}&lt;/li&gt;&#x000a;
