figure
  dl.o-Flex.-xw-wp
    dt.o-Flex__Item.o-Box.-x-p4  .-x-p4  (&asymp; 14.590%)
    dd.o-Flex__Item.o-Box.-x-p4c .-x-p4c (&asymp; 85.410%)
    dt.o-Flex__Item.o-Box.-x-p3  .-x-p3  (&asymp; 23.607%)
    dd.o-Flex__Item.o-Box.-x-p3c .-x-p3c (&asymp; 76.393%)
    dt.o-Flex__Item.o-Box.-x-p1c .-x-p1c (&asymp; 38.197%)
    dd.o-Flex__Item.o-Box.-x-p1  .-x-p1  (&asymp; 61.803%)
    dt.o-Flex__Item.o-Box.-x-p1  .-x-p1  (&asymp; 61.803%)
    dd.o-Flex__Item.o-Box.-x-p1c .-x-p1c (&asymp; 38.197%)
    dt.o-Flex__Item.o-Box.-x-p3c .-x-p3c (&asymp; 76.393%)
    dd.o-Flex__Item.o-Box.-x-p3  .-x-p3  (&asymp; 23.607%)
    dt.o-Flex__Item.o-Box.-x-p4c .-x-p4c (&asymp; 85.410%)
    dd.o-Flex__Item.o-Box.-x-p4  .-x-p4  (&asymp; 14.590%)
