p.
  Read
  #[a(rel="external" href="https://github.com/chharvey/chharvey.github.io/wiki/Breadcrumbs") my technical report on breadcrumbs]
  for more information.
ol.Anc
  li: a.Crumb(rel="top     ") .Anc .Crumb[rel="top"]
  li: a.Crumb(rel="ancestor") .Anc .Crumb[rel="ancestor"]
  li: a.Crumb(rel="parent  ") .Anc .Crumb[rel="parent"]
ol.Sib
  li: a.Crumb(rel="sibling") .Sib .Crumb[rel="sibling"]
  li: a.Crumb(rel="this   ") .Sib .Crumb[rel="this"]
  li: a.Crumb(rel="sibling") .Sib .Crumb[rel="sibling"]
ol.Child
  li: a.Crumb(rel="child") .Child .Crumb[rel="child"]
  li: a.Crumb(rel="child") .Child .Crumb[rel="child"]
  li: a.Crumb(rel="child") .Child .Crumb[rel="child"]
