p.
  Use #[code .o-Textbox.c-Key] to represent
  a #[span.o-Textbox.c-Key button] or #[span.o-Textbox.c-Key key]
  on a physical device. May be instantiated by the #[code kbd &gt; kbd] Element.
  Contrary to #[a Button Components],
  these Key Components are not meant to be interactive.
