p.
  The Alert Component builds off the Box Object, so you must include #[code o-Box] in the class attribute.
  Subclasses of the Alert Component determine specific types of Alerts.
  The Alert may contain an optional #[code .c-Alert__Title] Subcomponent at the beginning.
figure
  p.c-Alert                     #[strong.c-Alert__Title Alert   :       ] This is a generic Alert (no Box Object).                    (.c-Alert                    ) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
  p.o-Box.c-Alert               #[strong.c-Alert__Title Alert   :       ] This is an Alert using a generic Box Object.                (.o-Box.c-Alert              ) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
  p.o-Box.c-Alert.c-Alert--dang #[strong.c-Alert__Title Danger  &#x0021;] An error has occurred or will occur. This cannot be undone. (.o-Box.c-Alert.c-Alert--dang) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
  p.o-Box.c-Alert.c-Alert--cshn #[strong.c-Alert__Title Caution &#x2026;] Proceed with care. Are you sure you want to continue?       (.o-Box.c-Alert.c-Alert--cshn) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
  p.o-Box.c-Alert.c-Alert--skss #[strong.c-Alert__Title Success &#x263a;] You have successfully completed the task as intended.       (.o-Box.c-Alert.c-Alert--skss) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
  p.o-Box.c-Alert.c-Alert--info #[strong.c-Alert__Title Info    &#x003f;] This is some more information about a thing.                (.o-Box.c-Alert.c-Alert--info) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
  p.o-Box.c-Alert.c-Alert--help #[strong.c-Alert__Title Help    &#x2665;] Here are some hints and tips for you. You&rsquo;re welcome. (.o-Box.c-Alert.c-Alert--help) Use .c-Alert__Link to include a #[a.c-Alert__Link(href="") proper link].
