p.
  The Badge Component builds off the Textbox Object, so include the #[code .o-Textbox] class.
  Subclasses add skins.
figure
  h3 Example h3 #[small.o-Textbox.c-Badge .o-Textbox.c-Badge]
  p Example p with a           .c-Badge              . #[small.c-Badge                         0]
  p Example p with a .o-Textbox.c-Badge              . #[small.o-Textbox.c-Badge               0]
  p Example p with a .o-Textbox.c-Badge.c-Badge--dang. #[small.o-Textbox.c-Badge.c-Badge--dang 2]
  p Example p with a .o-Textbox.c-Badge.c-Badge--cshn. #[small.o-Textbox.c-Badge.c-Badge--cshn 4]
  p Example p with a .o-Textbox.c-Badge.c-Badge--skss. #[small.o-Textbox.c-Badge.c-Badge--skss 16]
  p Example p with a .o-Textbox.c-Badge.c-Badge--info. #[small.o-Textbox.c-Badge.c-Badge--info 256]
  p Example p with a .o-Textbox.c-Badge.c-Badge--help. #[small.o-Textbox.c-Badge.c-Badge--help 65,536]
