p.
  The Label Component builds off the Textbox Object, so include the #[code .o-Textbox] class.
  Subclasses add skins.
figure
  h3 Example h3 #[small.o-Textbox.c-Label .o-Textbox.c-Label]
  p Example paragraph. #[small.c-Label                                   .c-Label              ]
  p Example paragraph. #[small.o-Textbox.c-Label               .o-Textbox.c-Label              ]
  p Example paragraph. #[small.o-Textbox.c-Label.c-Label--dang .o-Textbox.c-Label.c-Label--dang]
  p Example paragraph. #[small.o-Textbox.c-Label.c-Label--cshn .o-Textbox.c-Label.c-Label--cshn]
  p Example paragraph. #[small.o-Textbox.c-Label.c-Label--skss .o-Textbox.c-Label.c-Label--skss]
  p Example paragraph. #[small.o-Textbox.c-Label.c-Label--info .o-Textbox.c-Label.c-Label--info]
  p Example paragraph. #[small.o-Textbox.c-Label.c-Label--help .o-Textbox.c-Label.c-Label--help]
