p.
  On special pages, the top-level header may be a #[code .c-FolioTitle]. To add a little spice,
  use #[code .c-FolioTitle__Cap] on capital letters. The size will make them stand out.
figure
  h1.c-FolioTitle Detox&nbsp;your&nbsp;Body
  h1.c-FolioTitle #[span.c-FolioTitle__Cap D]etox&nbsp;your&nbsp;#[span.c-FolioTitle__Cap B]ody
  pre.
    &lt;h1 class="#[u c-FolioTitle]"&gt;Detox your Body&lt;/h1&gt;
    &lt;h1 class="#[u c-FolioTitle]"&gt;
      &lt;span class="#[u c-FolioTitle__Cap]"&gt;D&lt;/span&gt;etox
      your
      &lt;span class="#[u c-FolioTitle__Cap]"&gt;B&lt;/span&gt;ody
    &lt;/h1&gt;
