p.
  Use #[code .c-Document] to mark up a document such as an article or blog post.
  A #[dfn#dfn-document document] may take the form of a #[code body &gt; main] or
  #[code body #[abbr(title="descendant") &gt;&gt;] article].
  It should have a #[b status] and be marked up
  with metadata. Read
  #[a(rel="external" href="https://github.com/chharvey/chharvey.github.io/wiki/Document-Status") my technical report on document status]
  for more information.
  Any element inside a #[code .c-Document] may be marked with subcomponent classes indicating their status.
p.
  A Document is normative by default, but may also have informative (non-essential) elements,
  which typically have the boolean #[code [data-informative]] attribute.
figure
  article.c-Document
    p Lorem ipsum dolor sit amet.
    p.c-Document__Draft Suspendisse ut auctor enim.
    p.c-Document__Complete Pellentesque habitant morbi tristique senectus.
    p.c-Document__Released Aenean consectetur suscipit urna.
    p.c-Document__Informative Donec finibus ut lectus finibus pellentesque.
  pre.
    &lt;article class="#[u c-Document]"&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet.&lt;/p&gt;
      &lt;p class="#[u c-Document__Draft]"&gt;Suspendisse ut auctor enim.&lt;/p&gt;
      &lt;p class="#[u c-Document__Complete]"&gt;Pellentesque habitant morbi tristique senectus.&lt;/p&gt;
      &lt;p class="#[u c-Document__Released]"&gt;Aenean consectetur suscipit urna.&lt;/p&gt;
      &lt;p class="#[u c-Document__Informative]"&gt;Donec finibus ut lectus finibus pellentesque.&lt;/p&gt;
    &lt;/article&gt;
+newSection(3, Docs.DOCS.find('/docs/comp-typo.html#document-meta'))
  p #[code .c-Document__Meta] marks up meta-information about a document.
  p.
    Read
    #[a(rel="external" href="https://github.com/chharvey/chharvey.github.io/wiki/Document-Header") my technical report on document headers]
    for more information.
  figure: article.c-Document: dl.c-Document__Meta
    dt Author
    dd Chris Harvey
    dt Description
    dd A summary of ordered and unordered lists.
    dt Keywords
    dd HTML
    dd semantic
    dd lists
    dt Version History
    dd.update
      time(datetime="2013-07-16 15:18") Jul 16, 2013 #[span.tod 3:18 PM]
      span.o-Textbox.c-Label.c-Label--cshn.-ml-1 Completed
    dd.update
      time(datetime="2013-08-01") Aug 1, 2013
    dd.update
      time(datetime="2014-03-08 01:47") Mar 8, 2013 #[span.tod 1:47 AM]
    dd.update
      time(datetime="2014-04-10 11:36") Apr 10, 2014 #[span.tod 11:36 AM]
      span.o-Textbox.c-Label.c-Label--skss.-ml-1 Released
    dd.update
      time(datetime="2014-05-08 14:53") May 8, 2013 #[span.tod 2:53 PM]
      span.o-Textbox.c-Label.c-Label--dang.-ml-1 Latest
