p Action lists are used specifically for short, one-line, textual hyperlinks.
figure
  ul.c-ListAction
    li.c-ListAction__Item a normal action list item
    li.c-ListAction__Item: a an anchored action list item
    li.c-ListAction__Item: a(href="") a linked action list item
  pre.
    &lt;ul class="#[u c-ListAction]"&gt;
      &lt;li class="#[u c-ListAction__Item]"&gt; normal &lt;/li&gt;
      &lt;li class="#[u c-ListAction__Item]"&gt;&lt;a&gt; anchored &lt;/a&gt;&lt;/li&gt;
      &lt;li class="#[u c-ListAction__Item]"&gt;&lt;a href=""&gt; linked &lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
