figure
  p.
    A #[code .c-Camo] is a #[a.c-Camo(href="") camouflaged hyperlink].
    Even though it&rsquo;s a link, it looks like normal text (until&nbsp;hover).
    It even works on #[a.c-Camo anchors without hrefs].
    Best used for printing.
  pre.
    &lt;p&gt;
      ... is a &lt;a class="#[u c-Camo]" href=""&gt;camouflaged hyperlink&lt;/a&gt;. ...
      ... works on &lt;a class="#[u c-Camo]"&gt;anchors without hrefs&lt;/a&gt;. ...
    &lt;/p&gt;
