p.
  Put a #[code .c-Subhead] sibling adjacent to a heading to create
  a subheading for a page. This can be thought of as a
  #[i tagline] or #[i subtitle] for the top-level heading.
figure
  h1: span.-fw-9(style="font-size: 1.5em;") Work&nbsp;Hard
  p.c-Subhead there are no shortcuts
  pre.
    &lt;h1&gt;Work Hard&lt;/h1&gt;
    &lt;p class="#[u c-Subhead]"&gt;there are no shortcuts&lt;/p&gt;
