p Use the following classes for extra styles on #[code table] and #[code dl] elements.
form.-bc-aperturewhite
  fieldset.-mb-1
    dl.o-Grid.o-Grid--p2p1.-mb-z
      dt.o-Grid__Item
        label
          input(type="checkbox" name="tb" value="c-TableBordered")#check-tb
          code .c-TableBordered
      dd.o-Grid__Item border around the entire table
      dt.o-Grid__Item
        label
          input(type="checkbox" name="tbr" value="c-TableBorderedRows")#check-tbr
          code .c-TableBorderedRows
      dd.o-Grid__Item borders in between rows
      dt.o-Grid__Item
        label
          input(type="checkbox" name="tbc" value="c-TableBorderedCols")#check-tbc
          code .c-TableBorderedCols
      dd.o-Grid__Item borders in between cells in rows
      dt.o-Grid__Item
        label
          input(type="checkbox" name="ts" value="c-TableShaded")#check-ts
          code .c-TableShaded
      dd.o-Grid__Item background shading to the entire table
      dt.o-Grid__Item
        label
          input(type="checkbox" name="tsr" value="c-TableShadedRows")#check-tsr
          code .c-TableShadedRows
      dd.o-Grid__Item background shading to alternating rows
      dt.o-Grid__Item
        label
          input(type="checkbox" name="tsc" value="c-TableShadedCols")#check-tsc
          code .c-TableShadedCols
      dd.o-Grid__Item background shading to alternating cells in rows
      dt.o-Grid__Item
        label
          input(type="checkbox" name="th" value="c-TableHover")#check-th
          code .c-TableHover
      dd.o-Grid__Item background shading to a row on hover
  input#reset-tables(type="reset")
p.o-Box.c-Alert.c-Alert--info.
  #[strong.c-Alert__Title Notice:]
  These Components are all independent of each other, that is, the use of one does not require
  another. For example, a table may be classed #[code .c-TableBorderedRows] but may not
  necessarily be classed #[code .c-TableBordered].
figure
  table#tabledemo1
    thead
      tr #[th thead tr 1 th 1] #[th thead tr 1 th 2] #[th thead tr 1 th 3] #[th thead tr 1 th 4] #[th thead tr 1 th 5]
      tr #[td thead tr 2 td 1] #[td thead tr 2 td 2] #[td thead tr 2 td 3] #[td thead tr 2 td 4] #[td thead tr 2 td 5]
      tr #[td thead tr 3 td 1] #[td thead tr 3 td 2] #[td thead tr 3 td 3] #[td thead tr 3 td 4] #[td thead tr 3 td 5]
      tr #[td thead tr 4 td 1] #[td thead tr 4 td 2] #[td thead tr 4 td 3] #[td thead tr 4 td 4] #[td thead tr 4 td 5]
      tr #[td thead tr 5 td 1] #[td thead tr 5 td 2] #[td thead tr 5 td 3] #[td thead tr 5 td 4] #[td thead tr 5 td 5]
    tfoot
      tr #[th tfoot tr 1 th 1] #[th tfoot tr 1 th 2] #[th tfoot tr 1 th 3] #[th tfoot tr 1 th 4] #[th tfoot tr 1 th 5]
      tr #[td tfoot tr 2 td 1] #[td tfoot tr 2 td 2] #[td tfoot tr 2 td 3] #[td tfoot tr 2 td 4] #[td tfoot tr 2 td 5]
      tr #[td tbody tr 3 td 1] #[td tbody tr 3 td 2] #[td tfoot tr 3 td 3] #[td tfoot tr 3 td 4] #[td tfoot tr 3 td 5]
      tr #[td tbody tr 4 td 1] #[td tbody tr 4 td 2] #[td tfoot tr 4 td 3] #[td tfoot tr 4 td 4] #[td tfoot tr 4 td 5]
      tr #[td tbody tr 5 td 1] #[td tbody tr 5 td 2] #[td tfoot tr 5 td 3] #[td tfoot tr 5 td 4] #[td tfoot tr 5 td 5]
    tbody
      tr #[td tbody tr 1 td 1] #[td tbody tr 1 td 2] #[td tbody tr 1 td 3] #[td tbody tr 1 td 4] #[td tbody tr 1 td 5]
      tr #[td tbody tr 2 td 1] #[td tbody tr 2 td 2] #[td tbody tr 2 td 3] #[td tbody tr 2 td 4] #[td tbody tr 2 td 5]
      tr #[td tfoot tr 3 td 1] #[td tfoot tr 3 td 2] #[td tbody tr 3 td 3] #[td tbody tr 3 td 4] #[td tbody tr 3 td 5]
      tr #[td tfoot tr 4 td 1] #[td tfoot tr 4 td 2] #[td tbody tr 4 td 3] #[td tbody tr 4 td 4] #[td tbody tr 4 td 5]
      tr #[td tfoot tr 5 td 1] #[td tfoot tr 5 td 2] #[td tbody tr 5 td 3] #[td tbody tr 5 td 4] #[td tbody tr 5 td 5]
  dl.o-Flex#tabledemo2
    dt.o-Flex__Item.o-Box.-x-p4  .-x-p4  (&asymp; 14.590%)
    dd.o-Flex__Item.o-Box.-x-p4c .-x-p4c (&asymp; 85.410%)
    dt.o-Flex__Item.o-Box.-x-p3  .-x-p3  (&asymp; 23.607%)
    dd.o-Flex__Item.o-Box.-x-p3c .-x-p3c (&asymp; 76.393%)
    dt.o-Flex__Item.o-Box.-x-p1c .-x-p1c (&asymp; 38.197%)
    dd.o-Flex__Item.o-Box.-x-p1  .-x-p1  (&asymp; 61.803%)
    dt.o-Flex__Item.o-Box.-x-p1  .-x-p1  (&asymp; 61.803%)
    dd.o-Flex__Item.o-Box.-x-p1c .-x-p1c (&asymp; 38.197%)
    dt.o-Flex__Item.o-Box.-x-p3c .-x-p3c (&asymp; 76.393%)
    dd.o-Flex__Item.o-Box.-x-p3  .-x-p3  (&asymp; 23.607%)
    dt.o-Flex__Item.o-Box.-x-p4c .-x-p4c (&asymp; 85.410%)
    dd.o-Flex__Item.o-Box.-x-p4  .-x-p4  (&asymp; 14.590%)
