p.
  Use the Box object for stand-alone, highlighted blocks.
  They are useful for things like alerts, pop-ups, and asides.
  Since they have a border radius, they don&rsquo;t look good in tables or table-like structures.
figure
  ul.o-List
    li.o-List__Item.a-bc-shadelight.o-Box             Box
    li.o-List__Item.a-bc-shadelight.o-Box.o-Box--micr Microbox
    li.o-List__Item.a-bc-shadelight.o-Box.o-Box--mill Millibox
    li.o-List__Item.a-bc-shadelight.o-Box.o-Box--norm Normal-sized Box (same as Box)
    li.o-List__Item.a-bc-shadelight.o-Box.o-Box--kilo Kilobox
    li.o-List__Item.a-bc-shadelight.o-Box.o-Box--mega Megabox
    li.o-List__Item.a-bc-shadelight.o-Box.o-Box--giga Gigabox
    li.o-List__Item.a-bc-shadelight.o-Box.o-Box--tera Terabox
    li.o-List__Item.a-bc-shadelight.o-Box.o-Box--peta Petabox
  pre.
    &lt;div class="#[u o-Box]"&gt;Box&lt;/div&gt;
    &lt;div class="#[u o-Box]  #[u o-Box--micr]"&gt;Microbox&lt;/div&gt;
    &lt;div class="#[u o-Box]  #[u o-Box--mill]"&gt;Millibox&lt;/div&gt;
    &lt;div class="#[u o-Box]  #[u o-Box--norm]"&gt;Normal-sized Box&lt;/div&gt;
    &lt;div class="#[u o-Box]  #[u o-Box--kilo]"&gt;Kilobox&lt;/div&gt;
    &lt;div class="#[u o-Box]  #[u o-Box--mega]"&gt;Megabox&lt;/div&gt;
    &lt;div class="#[u o-Box]  #[u o-Box--giga]"&gt;Gigabox&lt;/div&gt;
    &lt;div class="#[u o-Box]  #[u o-Box--tera]"&gt;Terabox&lt;/div&gt;
    &lt;div class="#[u o-Box]  #[u o-Box--peta]"&gt;Petabox&lt;/div&gt;
//- figure
  ul.o-List
    li.o-List__Item.h-demo.h-p-micr(style="margin-top: -0.375rem; margin-bottom:1.5rem") .h-p-micr
    li.o-List__Item.h-demo.h-p-mill(style="margin-top: -0.75rem;") .h-p-mill
    li.o-List__Item.h-demo.h-p-norm .h-p-norm
    li.o-List__Item.h-demo.h-p-kilo .h-p-kilo
    li.o-List__Item.h-demo.h-p-mega .h-p-mega
    li.o-List__Item.h-demo.h-p-giga .h-p-giga
    li.o-List__Item.h-demo.h-p-tera .h-p-tera
    li.o-List__Item.h-demo.h-p-peta .h-p-peta
