p.
  The Textbox Object is similar to the Box object except that it is used for
  #[em inline text only],
  such as labels or badges.
  It is usually instantiated by a #[code small] element, but that depends on context.
figure
  h1 Example h1 #[small.o-Textbox.-bc-shadelight Textbox]
  h2 Example h2 #[small.o-Textbox.-bc-shadelight Textbox]
  h3 Example h3 #[small.o-Textbox.-bc-shadelight Textbox]
  h4 Example h4 #[small.o-Textbox.-bc-shadelight Textbox]
  h5 Example h5 #[small.o-Textbox.-bc-shadelight Textbox]
  h6 Example h6 #[small.o-Textbox.-bc-shadelight Textbox]
  p Example paragraph #[small.o-Textbox.-bc-shadelight Textbox]
  pre.
    &lt;h1&gt;Example h1 &lt;small class="#[u o-Textbox]"&gt;Textbox&lt;/small&gt;&lt;/h1&gt;
