extends _docs.tpl.jade

block append vars
  - var page = Docs.DOCS.find('atom.html')

block append mainHeader

block append main
  +newSection(Docs.DOCS.find('atom.html#font-families'))
    include _includes/_atom.font-families.pug
  +newSection(Docs.DOCS.find('atom.html#font-sizes'))
    include _includes/_atom.font-sizes.pug
  +newSection(Docs.DOCS.find('atom.html#colors'))
    include _includes/_atom.colors.pug

block append scripts
  script(src="../core/scripts/util.js")
  script(src="../core/scripts/color.js")
  script.
    $('body').addClass('-bi-n') // only in js because can’t change template
