extends _docs.tpl.jade

block append vars
  - var page = Docs.DOCS.find('comp-typo.html')

block append main
  +newSection(Docs.DOCS.find('comp-typo.html#subhead-component'))
    include _includes/_comp-typo.subhead-component.pug
  +newSection(Docs.DOCS.find('comp-typo.html#folio-title-component'))
    include _includes/_comp-typo.folio-title-component.pug
  +newSection(Docs.DOCS.find('comp-typo.html#lede-drop-cap-components'))
    include _includes/_comp-typo.lede-drop-cap-components.pug
  +newSection(Docs.DOCS.find('comp-typo.html#caption-component'))
    include _includes/_comp-typo.caption-component.pug
  +newSection(Docs.DOCS.find('comp-typo.html#pull-quote-component'))
    include _includes/_comp-typo.pull-quote-component.pug
  +newSection(Docs.DOCS.find('comp-typo.html#action-list-component'))
    include _includes/_comp-typo.action-list-component.pug
  +newSection(Docs.DOCS.find('comp-typo.html#footnotes-list-component'))
    include _includes/_comp-typo.footnotes-list-component.pug
  +newSection(Docs.DOCS.find('comp-typo.html#components-for-tables'))
    include _includes/_comp-typo.components-for-tables.pug
  +newSection(Docs.DOCS.find('comp-typo.html#document-component'))
    include _includes/_comp-typo.document-component.pug
  +newSection(Docs.DOCS.find('comp-typo.html#document-meta'))
    include _includes/_comp-typo.document-meta.pug
  +newSection(Docs.DOCS.find('comp-typo.html#text-level-components'))
    +newSection(Docs.DOCS.find('comp-typo.html#acronyms'), 3)
      include _includes/_comp-typo.acronyms.pug
    +newSection(Docs.DOCS.find('comp-typo.html#camo-links'), 3)
      include _includes/_comp-typo.camo-links.pug
  +newSection(Docs.DOCS.find('comp-typo.html#breadcrumbs'))
    include _includes/_comp-typo.breadcrumbs.pug

block append scripts
  script.
    var tables = $('#tabledemo1, #tabledemo2')
    $('#c-Table form input').change(function () {
      if (this.checked) { tables.addClass($(this).val()) }
      else              { tables.removeClass($(this).val()) }
    })
    $('#reset-tables').click(function () {
      $('#c-Table form input').each(function () {
        tables.removeClass($(this).val())
      })
    })
