extends _docs.tpl.jade

block append vars
  - var page = Docs.DOCS.find('help.html')

block append mainHeader

block append main
  +newSection(Docs.DOCS.find('help.html#after-helpers'))
    include _includes/_help.after-helpers.pug
  +newSection(Docs.DOCS.find('help.html#crossgrid-lined'))
    include _includes/_help.crossgrid-lined.pug
