extends _docs.tpl.jade

block append vars
  - var page = Docs.DOCS.find('obj.html')

block append toc
  p.o-Box.c-Alert.c-Alert--help.
    #[strong.c-Alert__Title Note:]
    Backgrounds have been added to all Objects on this page to show structure.

block append main
  +newSection(Docs.DOCS.find('obj.html#box-object'))
    include _includes/_obj.box-object.pug
  +newSection(Docs.DOCS.find('obj.html#textbox-object'))
    include _includes/_obj.textbox-object.pug
  +newSection(Docs.DOCS.find('obj.html#golden-container'))
    include _includes/_obj.golden-container.pug
