extends _docs.tpl.jade

block append vars
  - var page = Docs.DOCS.find('principles.html')

block append main
  +newSection(Docs.DOCS.find('principles.html#typeface-scheme'))
    include _includes/_principles.typeface-scheme.pug
  +newSection(Docs.DOCS.find('principles.html#color-scheme'))
    include _includes/_principles.color-scheme.pug

block append scripts
  script(src="scripts/principles.b.js")
  script.
    $('body').addClass('-bc-w -c-b') // only in js because can’t change template
