extends _docs.tpl.jade

block append vars
  - var page = Docs.DOCS.find('visual.html')

block append main
  +newSection(Docs.DOCS.find('visual.html#typeface-scheme'))
    include _includes/_visual.typeface-scheme.pug
  +newSection(Docs.DOCS.find('visual.html#color-scheme'))
    include _includes/_visual.color-scheme.pug

block append scripts
  script(src="https://cdn.rawgit.com/chharvey/csscolor/master/index.js")
  script(src="../core/scripts/util.js")
  script(src="../core/scripts/color.js")
  script(src="scripts/schemes.js")
  script.
    $('body').addClass('-bc-w -c-b') // only in js because can’t change template
